<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>Character Sheet</title>
        <link rel="stylesheet" href="css/sheet.css">
        <script type="text/javascript" src="jquery/jquery.min.js"></script>
        <script type="text/javascript" src="vue/vue.js"></script>
    </head>
    <body>
        {{{body}}}
    </body>
</html>