<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>Character Sheet</title>

        <link rel="stylesheet" href="css/sheet.css">
    </head>
    <body>
        <div id="wrapper">
            <header>
                <div class="logo">
                    <img id="header" src="images/logo.jpg">
                </div>
            </header>
            <div class="container">
                <form name="character-sheet" id="sheet">
                    <article id="general">
                        <h1>General</h1>
                        <section>
                            <div><label>Character Name</label><input type="text" name="characterName" class="bigInput" v-model="general.name"></div>
                            <div><label>Title</label><input type="text" name="title" class="mediumInput" v-model="general.title"></div>
                            <div><label>Race</label><input type="text" name="race" class="mediumInput" v-model="general.race"></div>
                            <div><label>Class</label><input type="text" name="class" class="mediumInput" v-model="general.class"></div>
                            <div><label>Alignment</label><input type="text" name="alignment" class="mediumInput" v-model="general.alignment"></div>
                            <div><label>Deity</label><input type="text" name="deity" class="mediumInput" v-model="general.diety"></div>
                            <div><label>Level</label><input type="number" min="1" max="20" name="level" class="smallInput" v-model="general.level"></div>
                        </section>
                    </article>
                    <article id="physical">
                        <h1>Physical Characteristics</h1>
                        <div><label>Age</label><input type="text" name="age" class="smallInput" v-model="physical.age"></div>
                        <div><label>Gender</label><input type="text" name="gender" class="smallInput" v-model="physical.gender"></div>
                        <div><label>Hair Color</label><input type="text" name="hair" class="smallInput" v-model="physical.hair"></div>
                        <div><label>Eye Color</label><input type="text" name="eyes" class="smallInput" v-model="physical.eyes"></div>
                        <div><label>Height</label><input type="text" name="height" class="smallInput" v-model="physical.height"></div>
                        <div><label>Weight</label><input type="text" name="weight" class="smallInput" v-model="physical.weight"></div>
                        <div><label>Scars or other distinguishing traits</label><input  class="bigInput" rows="3" name="physical-traits" v-model="physical.other"></div>
                        <div><label>Clothing Style</label><input  class="bigInput" name="clothing" v-model="physical.clothing"></div>
                    </article>
                    <article id="character">
                        <h1>Additional Information</h1>
                        <div><label>Languages Known</label><textarea name="languages" v-model="characterization.languages"></textarea></div>
                        <div><label>Description</label><textarea name="description" v-model="characterization.description"></textarea></div>
                        <div><label>Personality</label><textarea name="personality" v-model="characterization.personality"></textarea></div>
                        <div><label>Background</label><textarea  name="background" v-model="characterization.background"></textarea></div>
                    </article>
                    <article id="attributes">
                        <h1>Attributes</h1>
                        <section>
                            <div class="ability">
                                <div>
                                    <label class="large">Strength</label>
                                </div>
                                <div>
                                    <input type="text" name="str" class="smallInput" v-model="attributes.str">
                                    <label>Ability Score</label>
                                </div>
                                <div>
                                    <!--<ability ability="str"> -->
                                        <span>
                                            <input type="text" name="str-modifier" class="smallInput" v-bind:value="strMod" readonly="readonly">
                                            <label>Ability Modifier</label>
                                        </span>
                                    <!-- </ability> -->
                                </div>
                            </div>
                            <div class="ability">
                                <div>
                                    <label class="large">Dexterity</label>
                                </div>
                                <div>
                                    <input type="text" name="dex" class="smallInput" v-model="attributes.dex">
                                    <label>Ability Score</label>
                                </div>
                                <div>
                                    <!-- <ability ability="dex"> -->
                                        <span>
                                            <input type="text" name="dex-modifier" class="smallInput" v-bind:value="dexMod" readonly="readonly">
                                            <label>Ability Modifier</label>
                                        </span>
                                    <!--</ability> -->
                                </div>
                            </div>
                            <div class="ability"> 
                                <div>
                                   <label class="large">Constitution</label>
                                </div>
                                <div>
                                    <input type="text" name="con" class="smallInput" v-model="attributes.con">
                                    <label>Ability Score</label>
                                </div>
                                <div>
                                    <!--<ability ability="con"> -->
                                        <span>
                                            <input type="text" name="con-modifier" class="smallInput" v-bind:value="conMod" readonly="readonly">
                                            <label>Ability Modifier</label>
                                        </span>
                                     <!-- </ability> -->
                                </div>
                            </div>
                            <div class="ability">
                                <div>
                                    <label class="large">Intelligence</label>
                                </div>
                                <div>
                                    <input type="text" name="int" class="smallInput" v-model="attributes.int">
                                    <label>Ability Score</label>
                                </div>
                                <div>
                                    <!--<ability ability="int"> -->
                                        <span>
                                            <input type="text" name="int-modifier" class="smallInput" v-bind:value="intMod" readonly="readonly">
                                            <label>Ability Modifier</label>
                                        </span>
                                     <!-- </ability> -->
                                </div>
                            </div>
                            <div class="ability">
                                <div>
                                    <label class="large">Wisdom</label>
                                </div>
                                <div>
                                    <input type="text" name="wis" class="smallInput" v-model="attributes.wis">
                                    <label>Ability Score</label>
                                </div>
                                <div>
                                    <!--<ability ability="wis"> -->
                                        <span>
                                            <input type="text" name="wis-modifier" class="smallInput" v-bind:value="wisMod" readonly="readonly">
                                            <label>Ability Modifier</label>
                                        </span>
                                     <!-- </ability> -->
                                </div>
                            </div>
                            <div class="ability">
                                <div>
                                    <label class="large">Charisma</label></div>
                                <div>
                                    <input type="text" name="cha" class="smallInput" v-model="attributes.cha">
                                    <label>Ability Score</label>
                                </div>
                                <div>
                                    <!--<ability ability="cha"> -->
                                        <span>
                                            <input type="text" name="cha-modifier" class="smallInput" v-bind:value="chaMod" readonly="readonly">
                                            <label>Ability Modifier</label>
                                        </span>
                                     <!-- </ability> -->
                                </div>
                            </div>
                        </section>
                    </article>
                    <article id="combat">
                        <h1>Defense</h1>
                        <section>
                            <div><label class="large">Armor Class</label></div>
                            <div><input type="text" name="ac" readonly="readonly" class="smallInput" v-bind:value="armorClass"><label>Total</label></div>
                            <div><label class="large">10+</label></div>
                            <div>
                                <input type="text" name="ac-armor-bonus" class="smallInput" v-model="defense.armorAC">
                                <label>Armor</label>
                            </div>
                            <div>
                                <input type="text" name="ac-shield-bonus" class="smallInput" v-model="defense.shieldAC">
                                <label>Shield</label>
                            </div>
                            <div>
                                <input type="text" name="dex-modifier" readonly="readonly" class="smallInput" v-bind:value="dexMod"><label>Attribute Modifier</label>
                            </div>
                            <div>
                                <input type="text" name="ac-misc-modifier" class="smallInput" v-model="defense.miscAC">
                                <label>Misc Modifier</label>
                            </div>
                            <div><label class="large">Hit Points</label></div>
                            <div>
                                <input type="text" name="hp-total" v-model="defense.HP">
                                <label>Total</label>
                            </div>
                            <div class="w180">
                                <input type="text" name="hp-wounds">
                                <label>Wounds/Current</label>
                            </div>
                        </section>
                    </article>
                    <article id="offense">
                        <h1>Offense</h1>
                        <section>
                           <div><label class="large">To Hit</label></div>
                            <div><input type="text" name="to-hit"  readonly="readonly" class="smallInput" v-bind:value="toHit"><label>Total =</label></div>
                            <div><label class="large">20+</label></div>
                            <div>
                                <input type="text" name="dex-modifier" readonly="readonly" class="smallInput" v-bind:value="dexMod"><label> Attribute Modifier</label>
                            </div>
                            <div><label class="large">+</label></div>
                            <div>
                                <input type="text" name="tohit-level-modifier" readonly="readonly" class="smallInput" v-bind:value="this.general.level">
                                <label>Level Bonus</label>
                            </div>
                            <div><label class="large">+</label></div>
                            <div>
                                <input type="text" name="tohit-misc-modifier" class="smallInput" v-model="offense.miscToHit">
                                <label>Misc Modifier</label>
                            </div>
                        </section>
                    </article>
                    <article id="experience" class="experience">
                        <h1>Experience</h1>
                            <div><label class="large">Experience Points</label></div>
                            <div>
                                <input type="text" name="xp-total">
                                <label>Total</label>
                            </div>
                            <div>
                                <input type="text" name="xp-to-next-level">
                                <label>Next Level</label>
                            </div>
                        </section>
                    </article>
                    <article id="abilities">
                        <h1>Abilities &amp; Advantages</h1>
                        <section>
                            <div><span>Racial Abilities</span></div>
                            <div>
                                <div>+</div>
                            </div>

                            <div><span>Class Abilities</span></div>
                            <div>
                                <div>+</div>
                            </div>
                        </section>
                    </article>
                    <article id="equipment">
                        <h1>Weapons</h1>
                            <section></section>
                    </article>
                    <article id="spells">
                        <h1>Spell List</h1>
                        <section>
                            <div class="spell-table-row" id="spell-table-header">
                                <div><label class="large">Spell Level</label></div>
                                <div class="header-label"><label>Spells Known</label></div>
                                <div class="header-label"><label>Spells per Day</label></div>
                                <div class="header-label"><label>Bonus Spells</label></div>
                            </div>
                            <div class="spell-table-row">
                                <div><label class="large">0th</label></div>
                                <div><input type="text" class="mediumInput" name="spells-known-0"></div>
                                <div><input type="text" class="mediumInput" name="spells-perday-0"></div>
                                <div class="placeholder"><label>—</label></div>
                            </div>
                            <div class="spell-table-row">
                                <div><label class="large">1st</label></div>
                                <div><input type="text" class="mediumInput" name="spells-known-1"></div>
                                <div><input type="text" class="mediumInput" name="spells-perday-1"></div>
                                <div><input type="text" class="mediumInput" name="bonus-spells-1"></div>
                            </div>
                            <div class="spell-table-row">
                                <div><label class="large">2nd</label></div>
                                <div><input type="text" class="mediumInput" name="spells-known-2"></div>
                                <div><input type="text" class="mediumInput" name="spells-perday-2"></div>
                                <div><input type="text" class="mediumInput" name="bonus-spells-2"></div>
                            </div>
                            <div class="spell-table-row">
                                <div><label class="large">3rd</label></div>
                                <div><input type="text" class="mediumInput" name="spells-known-3"></div>
                                <div><input type="text" class="mediumInput" name="spells-perday-3"></div>
                                <div><input type="text" class="mediumInput" name="bonus-spells-3"></div>
                            </div>
                            <div class="spell-table-row">
                                <div><label class="large">4th</label></div>
                                <div><input type="text" class="mediumInput" name="spells-known-4"></div>
                                <div><input type="text" class="mediumInput" name="spells-perday-4"></div>
                                <div><input type="text" class="mediumInput" name="bonus-spells-4"></div>
                            </div>
                            <div class="spell-table-row">
                                <div><label class="large">5th</label></div>
                                <div><input type="text" class="mediumInput" name="spells-known-5"></div>
                                <div><input type="text" class="mediumInput" name="spells-perday-5"></div>
                                <div><input type="text" class="mediumInput" name="bonus-spells-5"></div>
                            </div>
                            <div class="spell-table-row">
                                <div><label class="large">6th</label></div>
                                <div><input type="text" class="mediumInput" name="spells-known-6"></div>
                                <div><input type="text" class="mediumInput" name="spells-perday-6"></div>
                                <div><input type="text" class="mediumInput" name="bonus-spells-6"></div>
                            </div>
                            <div class="spell-table-row">
                                <div><label class="large">7th</label></div>
                                <div><input type="text" class="mediumInput" name="spells-known-7"></div>
                                <div><input type="text" class="mediumInput" name="spells-perday-7"></div>
                                <div><input type="text" class="mediumInput" name="bonus-spells-7"></div>
                            </div>
                            <div class="spell-table-row">
                                <div><label class="large">8th</label></div>
                                <div><input type="text" class="mediumInput" name="spells-known-8"></div>
                                <div><input type="text" class="mediumInput" name="spells-perday-8"></div>
                                <div><input type="text" class="mediumInput" name="bonus-spells-8"></div>
                            </div>
                            <div class="spell-table-row">
                                <div><label class="large">9th</label></div>
                                <div><input type="text" class="mediumInput" name="spells-known-9"></div>
                                <div><input type="text" class="mediumInput" name="spells-perday-9"></div>
                                <div><input type="text" class="mediumInput" name="bonus-spells-9"></div>
                            </div>  
                        </section>
                    </article>
                </form>
            </div>
        </div>
        <footer>
        </footer>
        <script type="text/javascript" src="jquery/jquery.min.js"></script>
        <script type="text/javascript" src="vue/vue.js"></script>
        <script type="text/javascript" src="js/rulesConf.js"></script>
        <script type="text/javascript" src="js/sheet.js"></script>
    </body>
</html>