h1 {
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    margin: 0 10px 10px 0;
    font-weight: 700;
    padding-left: 28px;
}

header {
    text-align: center;
}

input:not([type=checkbox]) {
    height: 28px;
    padding: 5px;
    border: 1px solid rgba(84,75,49,.7);
    font-family: Caudex,times,serif;
    font-size: 20px;
    text-align: center;
    color: #222;
    margin: 0;
}

select {
    height: 40px;
    padding: 5px;
    border: 1px solid rgba(84,75,49,.7);
    font-family: Caudex,times,serif;
    font-size: 20px;
    text-align: center;
    color: #222;
    margin: 0;
}

input[readonly]
{
    background-color:#bbb;
    color: #303;
}

textarea {
    width: 24em;
    height: 3em;
    border: 1px solid rgba(84,75,49,.7);
    font-family: Caudex,times,serif;
    font-size: 20px;
    color: #222;
    margin: 0;
}

label {
    display: block;
    font-size: 16px;
    line-height: 20px;
    height: 20px;
    text-align: center;
    margin: 0;
    cursor: default;
}

label.large {
    font-size: 20px;
    font-family: Caudex,times,serif;
    text-align: center;
    padding:4px;
}


article {
    margin-bottom: 10px;
    overflow: auto;
}

#wrapper {
    float: none;
    width: 1000px;
    margin: 0 auto;
    padding: 10px 0 65px 10px;
    background: url(/images/bg.jpg) repeat left top;
    box-shadow: 0 0 30px rgba(84,75,49,.7);
}

.logo {
    margin-top: 30px;
    margin-bottom: 30px;
}

.bigInput {
    width: 20em;
}

.smallInput {
    width: 7em;
}

.mediumInput {
    width: 12em;
}

.abilityInput {
    width: 5em;
}

.container {
    width: 100%;
}

.container article div {
    float: left;
    overflow: hidden;
    margin-right: 10px;
    margin-bottom: 10px;
}

.ability {
    width: 47%;
    margin-left:10px;
}

.ability label {
    width: 120px;
}

.ability .primaryCheck {
    text-align: center;
    width: 60px;
}

.ability .primaryCheck label {
    width: 100%;
}

.spell-table-row {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}
.spell-table-row label.large {
    width: 4em;
}

.spell-table-row .placeholder {
    font-size: 20px;
    width: 12em;
    text-align: center;
}

 #spell-table-header .header-label {
    width: 12em;
    text-align: center;
    font-size: 20px;
 }

 .header-label label {
    font-size: 20px;
    font-family: Caudexs,times,serif;
    text-align: center;
 }

 .footer {
    width: 100%;
    text-align: center;
 }

 .footer #save {
    font-size: 20px;
    font-family: Caudexs,times,serif;
    text-align: center;
    padding: .5em 1em;
 }

.modal-container {
    width: 500px;
    margin: 0px auto;
    padding: 20px 30px;
    background: url(/images/bg.jpg);
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
    transition: all .3s ease;
    font-family: Helvetica, Arial, sans-serif;
}

.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-body {
  margin: 20px 0;
}

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}