h1 {
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    margin: 0 10px 10px 0;
    font-weight: 700;
    padding-left: 28px;
}

header {
    text-align: center;
}

input:not([type=checkbox]) {
    height: 28px;
    padding: 5px;
    border: 1px solid rgba(84,75,49,.7);
    font-family: Caudex,times,serif;
    font-size: 20px;
    text-align: center;
    color: #222;
    margin: 0;
}

input[readonly]
{
    background-color:#ddd;
    color: #303;
}

textarea {
    width: 24em;
    height: 3em;
    border: 1px solid rgba(84,75,49,.7);
    font-family: Caudex,times,serif;
    font-size: 20px;
    color: #222;
    margin: 0;
}

label {
    display: block;
    font-size: 16px;
    line-height: 20px;
    height: 20px;
    text-align: center;
    margin: 0;
    cursor: default;
}

label.large {
    font-size: 20px;
    font-family: Caudex,times,serif;
    text-align: center;
    padding:4px;
}


article {
    margin-bottom: 10px;
    overflow: auto;
}

#wrapper {
    float: none;
    width: 1000px;
    margin: 0 auto;
    padding: 10px 0 65px 10px;
    background: url(/images/bg.jpg) repeat left top;
    box-shadow: 0 0 30px rgba(84,75,49,.7);
}

.logo {
    margin-top: 30px;
    margin-bottom: 30px;
}

.bigInput {
    width: 20em;
}

.smallInput {
    width: 7em;
}

.mediumInput {
    width: 12em;
}



.container {
    width: 100%;
}

.container div {
    float: left;
    overflow: hidden;
    margin-right: 10px;
    margin-bottom: 10px;
}

.ability {
    width: 47%;
    margin-left:10px;
}

.ability label {
    width: 120px;
}

.ability .primaryCheck {
    text-align: center;
    width: 60px;
}

.spell-table-row {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}
.spell-table-row label.large {
    width: 4em;
}

.spell-table-row .placeholder {
    font-size: 20px;
    width: 12em;
    text-align: center;
}

 #spell-table-header .header-label {
    width: 12em;
    text-align: center;
    font-size: 20px;
 }

 .header-label label {
    font-size: 20px;
    font-family: Caudexs,times,serif;
    text-align: center;
 }

 .footer {
    width: 100%;
    text-align: center;
 }

 .footer #save {
    font-size: 20px;
    font-family: Caudexs,times,serif;
    text-align: center;
    padding: .5em 1em;
 }

